* {
  margin: 0;
  padding: 0;
  border: 0;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-size: 100%;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

.header {
  max-width: 1440px;
  min-height: 768px;
  margin: 0 auto;
  background: url(../img/bg1.png) center;
  text-align: center;
  color: white;
}
.header__logo {
  padding-top: 41px;
  margin-bottom: 317px;
}
.header__pic {
  width: 101px;
  height: 23px;
}
.header__title {
  margin-bottom: 21px;
  font-family: "Bebas Neue", sans-serif;
  font-size: 60px;
  letter-spacing: 0.1em;
}
.header__text {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  margin-bottom: 221px;
  font-weight: 600;
}
.header__bottom-text {
  font-size: 11px;
  font-weight: 600;
  letter-spacing: 0.34em;
}

.about {
  margin-bottom: 118px;
}
.about__title {
  text-align: center;
  margin-bottom: 15px;
}
.about__stick {
  margin: 0 auto;
  margin-bottom: 60px;
}
.about__fb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}

.atb {
  padding-right: 70px;
}
.atb__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0.01em;
  color: #48555b;
  margin-bottom: 30px;
}
.atb__accent {
  color: #16ACE8;
}
.atb__text {
  font-weight: 400;
  font-size: 13px;
  line-height: 177%;
  letter-spacing: 0.01em;
  color: #48555b;
}

.apb {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.apb__item {
  width: 140px;
  height: 224px;
  font-weight: 800;
  font-size: 24px;
  line-height: 121%;
  letter-spacing: 0.01em;
  color: #fff;
  padding: 15px;
  text-transform: uppercase;
}

.item1 {
  background: url(../img/plan.png);
}

.item2 {
  background: url(../img/manage.png);
}

.item3 {
  background: url(../img/build.png);
}

.main-menu {
  min-height: 65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 58px;
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  border-bottom: 1px solid #e6e6e6;
}
.main-menu__fb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main-menu__pic {
  width: 80px;
  height: 16px;
}
.main-menu__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.main-menu__menu a {
  color: #48555B;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}
.main-menu__menu a:hover {
  color: #00a4e5;
  font-weight: 700;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}
.main-menu__item {
  display: block;
  margin-left: 10px;
  min-width: 75px;
  text-align: center;
}

.main-menu__item:first-child {
  margin-left: 0px;
}

.services {
  margin-bottom: 115px;
}
.services__title-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 76px;
}
.services__sjhsjg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.services__title-block-title1 {
  margin-bottom: 10px;
}
.services__title-block-text {
  width: 406px;
  padding-right: 5px;
  font-weight: 400;
  font-size: 11px;
  line-height: 173%;
  letter-spacing: 0.02em;
  color: #48555b;
}
.services__title-block-button {
  display: block;
  padding: 11px 0;
  text-align: center;
  line-height: 20px;
  height: 40px;
  width: 150px;
  color: #fff;
  background-color: #00A4E5;
  font-weight: 700;
  font-size: 13px;
  letter-spacing: 0.04em;
}
.services .services__title-block-button:hover {
  background-color: #0376a3;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}
.services__col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 -14px;
}
.services__item {
  padding: 0 14px;
  min-height: 330px;
}
.services__subitem {
  min-height: 330px;
  border: 1px solid #e6e6e6;
  padding: 38px 23px;
}
.services__iimage {
  margin-bottom: 25px;
}
.services__pic {
  width: 65px;
  height: 75px;
}
.services__ititle {
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0.03em;
  color: #48555b;
  margin-bottom: 13px;
}
.services__itext {
  font-weight: 400;
  font-size: 13px;
  line-height: 177%;
  letter-spacing: 0.01em;
  color: #48555b;
}

.amazing {
  text-align: center;
  background: url(../img/bg.png);
  min-height: 499px;
}
.amazing__title {
  font-weight: 700;
  font-size: 30px;
  line-height: 120%;
  letter-spacing: 0.01em;
  padding-top: 120px;
  color: #48555b;
  margin-bottom: 35px;
}
.amazing__button {
  margin: 0 auto;
}

.signup {
  background-color: #171819;
}
.signup__container {
  max-width: 685px;
  margin: 0 auto;
}
.signup__fb {
  padding: 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.signup__title {
  font-weight: 700;
  font-size: 22px;
  letter-spacing: 0.04em;
  color: #fff;
}
.signup__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.signup__name {
  padding: 12px 15px;
}
body {
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  font-weight: 400;
  background-color: #f2f2f2;
}

.container {
  width: 940px;
  margin: 0 auto;
}

.title {
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 0.13em;
  color: #48555b;
}

.stick {
  background-color: #00A4E5;
  height: 2px;
  width: 50px;
}

@media screen and (max-width: 769px) {
  .container {
    width: 768px;
  }
}
@media screen and (max-width: 376px) {
  .container {
    width: 375px;
  }
}