* {
  margin: 0;
  padding: 0;
  border: 0;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-size: 100%;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

.header {
  padding: 0 15px;
  max-width: 1440px;
  min-height: 768px;
  margin: 0 auto;
  background: url(../img/bg1.png) center;
  text-align: center;
  color: white;
}
.header__logo {
  padding-top: 41px;
  margin-bottom: 317px;
}
.header__pic {
  width: 101px;
  height: 23px;
}
.header__title {
  margin-bottom: 21px;
  font-family: "Bebas Neue", sans-serif;
  font-size: 60px;
  letter-spacing: 0.1em;
}
.header__text {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  margin-bottom: 221px;
  font-weight: 600;
}
.header__bottom-text {
  font-size: 11px;
  font-weight: 600;
  letter-spacing: 0.34em;
}

@media screen and (max-width: 960px) {
  .header {
    min-height: auto;
    background: url(../img/bg1.png) 0 0/cover center no-repeat;
  }
  .header__logo {
    margin-bottom: 150px;
  }
  .header__title {
    font-size: 60px;
  }
  .header__text {
    margin-bottom: 120px;
  }
  .header__bottom-text {
    padding-bottom: 15px;
  }
}
@media screen and (max-width: 768px) {
  .header__logo {
    margin-bottom: 80px;
  }
  .header__title {
    font-size: 40px;
  }
}
@media screen and (max-width: 360px) {
  .header__text {
    margin-bottom: 80px;
  }
  .header__bottom-text {
    padding-bottom: 15px;
  }
}
.about {
  margin-bottom: 118px;
}
.about__title {
  text-align: center;
  margin-bottom: 15px;
}
.about__stick {
  margin: 0 auto;
  margin-bottom: 60px;
}
.about__fb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}

.atb {
  padding-right: 70px;
}
.atb__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0.01em;
  color: #48555b;
  margin-bottom: 30px;
  text-wrap: wrap;
}
.atb__accent {
  color: #16ACE8;
}
.atb__text {
  font-weight: 400;
  font-size: 13px;
  line-height: 177%;
  letter-spacing: 0.01em;
  color: #48555b;
  text-wrap: wrap;
}

.apb {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.apb__item {
  width: 140px;
  height: 224px;
  font-weight: 800;
  font-size: 24px;
  line-height: 121%;
  letter-spacing: 0.01em;
  color: #fff;
  padding: 15px;
  text-transform: uppercase;
}

.item1 {
  background: url(../img/plan.png);
}

.item2 {
  background: url(../img/manage.png);
}

.item3 {
  background: url(../img/build.png);
}

@media screen and (max-width: 990px) {
  .about {
    margin-bottom: 60px;
  }
  .about__fb {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .about .atb {
    margin-bottom: 30px;
    padding: 0 15px;
  }
  .about .apb__item {
    margin: 0 30px;
  }
}
@media screen and (max-width: 560px) {
  .about {
    margin-bottom: 30px;
  }
  .about__fb {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .about .atb {
    margin-bottom: 30px;
    padding: 0 15px;
  }
  .about .apb {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .about .apb__item {
    margin: 0 5px;
    margin-bottom: 15px;
  }
}
.footer {
  max-width: 1440px;
  margin: 0 auto;
}

.footer-bottom {
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #171819;
  color: white;
  font-weight: 400;
  font-size: 11px;
  letter-spacing: 0.08em;
}

.footer-top {
  background-color: #141a20;
  color: white;
  padding: 42px 15px;
}
.footer-top__fb {
  display: grid;
  gap: 65px;
  grid-template-columns: 250px 262px 141px 87px;
}
.footer-top__left-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer-top__right-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.descr {
  max-width: 250px;
}
.descr__title {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 11px;
  letter-spacing: 0.08em;
  color: #fff;
  margin-bottom: 19px;
}
.descr__logo {
  display: block;
  margin-bottom: 15px;
}
.descr__pic {
  width: 101px;
  height: 23px;
}
.descr__text {
  font-weight: 400;
  font-size: 11px;
  line-height: 173%;
  letter-spacing: 0.08em;
}

.links {
  text-transform: uppercase;
}
.links__title {
  font-weight: 400;
  font-size: 11px;
  letter-spacing: 0.08em;
  margin-bottom: 10px;
}
.links__box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}
.links__items {
  font-weight: 600;
  font-size: 11px;
  line-height: 227%;
  letter-spacing: 0.08em;
  text-wrap: nowrap;
}
.links__item {
  display: block;
  color: #fff;
}
.links__item:hover {
  text-decoration: underline;
}

.fcontacts {
  font-weight: 400;
  font-size: 11px;
  line-height: 145%;
  letter-spacing: 0.08em;
}
.fcontacts__title {
  text-transform: uppercase;
  margin-bottom: 15px;
}
.fcontacts__text {
  line-height: 145%;
  margin-bottom: 15px;
  color: white;
}
.fcontacts__text:last-child {
  margin-bottom: 0px;
}

.masager {
  max-width: 87px;
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-height: 13px;
}
.masager__item {
  font-size: 13px;
  color: #fff;
}

@media screen and (max-width: 990px) {
  .footer-top {
    padding: 42px 70px;
  }
  .footer-top__fb {
    gap: 20px 65px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 2fr;
  }
}
@media screen and (max-width: 640px) {
  .footer-top {
    padding: 42px 70px;
  }
  .footer-top__fb {
    gap: 20px 65px;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 4fr;
  }
}
@media screen and (max-width: 360px) {
  .footer-top {
    padding: 42px 30px;
  }
  .footer-bottom {
    font-size: 9px;
  }
}
.main-menu {
  padding: 15px 0;
  margin-bottom: 58px;
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  border-bottom: 1px solid #e6e6e6;
}
.main-menu__fb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main-menu__pic {
  width: 80px;
}
.main-menu__burger {
  display: none;
  width: 30px;
  height: 30px;
  position: relative;
  cursor: pointer;
}
.main-menu__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.main-menu__menu a {
  color: #48555B;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}
.main-menu__menu a:hover {
  color: #00a4e5;
  font-weight: 700;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}
.main-menu__item {
  display: block;
  margin-left: 10px;
  min-width: 75px;
  text-align: center;
}

.main-menu__burger span,
.main-menu__burger span::after,
.main-menu__burger span::before {
  position: absolute;
  width: 20px;
  height: 2px;
  top: 50%;
  margin-top: -1px;
  left: 50%;
  margin-left: -10px;
  background-color: #48555b;
}

.main-menu__burger span::after,
.main-menu__burger span::before {
  content: "";
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.main-menu__burger span::before {
  -webkit-transform: translateY(7px);
      -ms-transform: translateY(7px);
          transform: translateY(7px);
}

.main-menu__burger span::after {
  -webkit-transform: translateY(-7px);
      -ms-transform: translateY(-7px);
          transform: translateY(-7px);
}

.active span {
  height: 0;
}

.active span::after {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.active span::before {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.main-menu__item:first-child {
  margin-left: 0px;
}

@media screen and (max-width: 990px) {
  .main-menu__fb {
    padding: 0 10px;
  }
}
@media screen and (max-width: 720px) {
  body.lock {
    overflow: hidden;
  }
  .main-menu__burger {
    display: block;
    z-index: 1;
  }
  .main-menu__menu {
    position: fixed;
    top: 0;
    left: 0px;
    -webkit-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
            transform: translateX(-100%);
    opacity: 0;
    visibility: hidden;
    overflow: auto;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    height: 100%;
    width: 100%;
    background-color: #fff;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 30px;
  }
  .main-menu__item {
    margin: 0 0 20px 0;
    font-size: 20px;
  }
  .main-menu__menu.active {
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
    visibility: visible;
  }
  .main-menu__menu.active .main-menu__burger {
    position: absolute;
    top: 0;
  }
}
.services {
  margin-bottom: 115px;
  padding: 0 15px;
}
.services__title-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 76px;
}
.services__sjhsjg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.services__title-block-title1 {
  margin-bottom: 10px;
}
.services__title-block-text {
  max-width: 406px;
  padding-right: 5px;
  font-weight: 400;
  font-size: 11px;
  line-height: 173%;
  letter-spacing: 0.02em;
  color: #48555b;
}
.services__title-block-button {
  display: block;
  padding: 11px 0;
  text-align: center;
  line-height: 20px;
  height: 40px;
  width: 150px;
  color: #fff;
  background-color: #00A4E5;
  font-weight: 700;
  font-size: 13px;
  letter-spacing: 0.04em;
}
.services .services__title-block-button:hover {
  background-color: #0376a3;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}
.services__col {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 27px;
}
.services__subitem {
  min-height: 330px;
  border: 1px solid #e6e6e6;
  padding: 38px 23px;
}
.services__iimage {
  margin-bottom: 25px;
}
.services__pic {
  width: 65px;
  height: 75px;
}
.services__ititle {
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0.03em;
  color: #48555b;
  margin-bottom: 13px;
}
.services__itext {
  font-weight: 400;
  font-size: 13px;
  line-height: 177%;
  letter-spacing: 0.01em;
  color: #48555b;
}

@media screen and (max-width: 990px) {
  .services {
    margin-bottom: 60px;
  }
  .services__subitem {
    min-height: 360px;
  }
  .services__title-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 60px;
  }
  .services__title-block-stick {
    margin: 0 auto;
    margin-bottom: 30px;
  }
  .services__sjhsjg {
    padding: 0 15px;
  }
}
@media screen and (max-width: 670px) {
  .services {
    margin-bottom: 10px;
  }
  .services__col {
    grid-template-columns: repeat(2, 1fr);
  }
  .services__subitem {
    padding: 30px 17px;
    min-height: 330px;
  }
}
@media screen and (max-width: 580px) {
  .services__col {
    grid-template-columns: repeat(1, 1fr);
  }
  .services__subitem {
    min-height: 230px;
    padding: 20px 15px;
  }
  .services__title-block {
    margin-bottom: 30px;
  }
  .services__sjhsjg {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .services__title-block-text {
    margin-bottom: 30px;
  }
  .services__title-block-button {
    margin: 0 auto;
  }
}
.amazing {
  text-align: center;
  background: url(../img/bg.png) center no-repeat;
  min-height: 499px;
}
.amazing__title {
  font-weight: 700;
  font-size: 30px;
  line-height: 120%;
  letter-spacing: 0.01em;
  padding-top: 120px;
  color: #48555b;
  margin-bottom: 35px;
  padding: 120px 15px 0;
}
.amazing__button {
  margin: 0 auto;
}

.signup {
  background-color: #171819;
  max-width: 1440px;
  margin: 0 auto;
  margin-top: -1px;
}
.signup__container {
  max-width: 685px;
  margin: 0 auto;
}
.signup__fb {
  padding: 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.signup__title {
  font-weight: 700;
  font-size: 22px;
  letter-spacing: 0.04em;
  color: #fff;
}
.signup__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.signup__name {
  padding: 12px 15px;
}

@media screen and (max-width: 768px) {
  .signup__fb {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .signup__title {
    margin-bottom: 15px;
  }
}
@media screen and (max-width: 380px) {
  .signup__fb {
    padding: 30px 15px;
  }
  .signup__title {
    margin-bottom: 15px;
  }
  .signup__box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .signup__name {
    margin-bottom: 15px;
  }
}
body {
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  font-weight: 400;
  background-color: #f2f2f2;
}

.container {
  max-width: 940px;
  margin: 0 auto;
}

.title {
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 0.13em;
  color: #48555b;
}

.stick {
  background-color: #00A4E5;
  height: 2px;
  width: 50px;
}