.about {
	margin-bottom: 118px;
	&__title {
		text-align: center;
		margin-bottom: 15px;
	}

	&__stick {
		margin: 0 auto;
		margin-bottom: 60px;
	}

	&__fb {
		display: flex;
		align-items: end;
	}
}
.atb {
	padding-right: 70px;
	&__title {
		font-weight: 700;
		font-size: 20px;
		line-height: 150%;
		letter-spacing: 0.01em;
		color: #48555b;
		margin-bottom: 30px;
		text-wrap: wrap;
	}

	&__accent {
		color: #16ACE8;
	}

	&__text {
		font-weight: 400;
		font-size: 13px;
		line-height: 177%;
		letter-spacing: 0.01em;
		color: #48555b;
		text-wrap: wrap;
	}
}
.apb {
	flex: 0 0 50%;
	display: flex;
	justify-content: space-between;
	&__item {
		width: 140px;
		height: 224px;
		font-weight: 800;
		font-size: 24px;
		line-height: 121%;
		letter-spacing: 0.01em;
		color: #fff;
		padding: 15px;
		text-transform: uppercase;
	}
}
.item1{
	background: url(../img/plan.png);
}
.item2{
	background: url(../img/manage.png);
}
.item3{
	background: url(../img/build.png);
}
@media screen and (max-width:990px){
	.about {
		margin-bottom: 60px;
		&__fb {
			flex-direction: column;
			align-items: center;
		}
		.atb {
			// padding-right: 0px;
			margin-bottom: 30px;
			padding: 0 15px;
		}
		.apb {
			&__item {
				margin: 0 30px;
			}
		}	
	}
}
@media screen and (max-width:560px){
	.about {
		margin-bottom: 30px;
		&__fb {
			flex-direction: column;
			align-items: center;
		}
		.atb {
			margin-bottom: 30px;
			padding: 0 15px;
		}
		.apb {
			flex-wrap: wrap;
			justify-content: space-around;
			&__item {
				margin: 0 5px;
				margin-bottom: 15px;
			}
		}	
	}
}
