.services {
	margin-bottom: 115px;
	padding: 0 15px;

	&__title-block {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 76px;
	}
	&__sjhsjg{
		display: flex;
	}
	&__title-block-title1 {
		margin-bottom: 10px;
	}
	&__title-block-text {
		max-width: 406px;
		padding-right: 5px;
		font-weight: 400;
		font-size: 11px;
		line-height: 173%;
		letter-spacing: 0.02em;
		color: #48555b;
	}
	&__title-block-button {
		display: block;
		padding: 11px 0;
		text-align: center;
		line-height: 20px;
		height: 40px;
		width: 150px;
		color: #fff;
		background-color: #00A4E5;
		font-weight: 700;
		font-size: 13px;
		letter-spacing: 0.04em;	
	}
	.services__title-block-button:hover{
		background-color: #0376a3;
		transition-duration: 0.3s;
	}
	&__col {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 27px;
	}
	&__subitem {
		min-height: 330px;
		border: 1px solid #e6e6e6;
		padding: 38px 23px;
	}

	&__iimage {
		margin-bottom: 25px;
	}

	&__pic {
		width: 65px;
		height: 75px;
	}

	&__ititle {
		font-weight: 700;
		font-size: 16px;
		line-height: 100%;
		letter-spacing: 0.03em;
		color: #48555b;
		margin-bottom: 13px;
	}

	&__itext {
		font-weight: 400;
		font-size: 13px;
		line-height: 177%;
		letter-spacing: 0.01em;
		color: #48555b
	}
}
@media screen and (max-width:990px) {
	.services {
		margin-bottom: 60px;
		&__subitem {
			min-height: 360px;
		}
		&__title-block {
			flex-direction: column;
			margin-bottom: 60px;
		}
		&__title-block-stick{
			margin: 0 auto;
			margin-bottom: 30px;
		}
		&__sjhsjg{
			padding: 0 15px;
		}		
	}
}
@media screen and (max-width:670px){
	.services {
		margin-bottom: 10px;
		&__col {			
			grid-template-columns: repeat(2, 1fr);
		}
		&__subitem {
			padding: 30px 17px;
			min-height: 330px;
		}
	}
}
@media screen and (max-width:580px){
	.services {
		&__col {			
			grid-template-columns: repeat(1, 1fr);
		}
		&__subitem {
			min-height: 230px;
			padding: 20px 15px;
		}
		&__title-block {
			margin-bottom: 30px;
		}
		&__sjhsjg{
			flex-direction: column;
		}
		&__title-block-text{
			margin-bottom: 30px;
		}
		&__title-block-button{
			margin: 0 auto;
		}

	}
}