@import "null";
@import "header";
@import "about";
@import "contacts";
@import "footer";
@import "menu";
@import "services";
@import "amazing";

body{
	font-family: "Open Sans", sans-serif;
	font-size: 13px;
	font-weight: 400;
	background-color: #f2f2f2;
}
.container {
	max-width: 940px;
	margin: 0 auto;
}
.title{
	font-weight: 700;
	font-size: 18px;
	letter-spacing: 0.13em;
	color: #48555b;
}
.stick {
	background-color: #00A4E5;
	height: 2px;
	width: 50px;
}